.information-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
}

.gridList{
    width: 100px;
    height: 400px;
}

.root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

