.information-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-posts-information {
    display: flex;
    flex-direction: row;
    background-color: #fff;
     justify-content: space-around;
    width: 70%;
    height: 70%;

    
}

.image-modal-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    overflow:auto;
}

.image-modal-rightTop {
   border-bottom: 2px solid #f2f2f2;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
.image-modal-left {
    width: 50%;
    padding: 10px;
}

.gridList{
    width:  750px;
    height: 500px;
}

.root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:10px;
    overflow: hidden;
}

/*.comment{
    display: flex;
    overflow-y: scroll;
    height:150px;
    flex-direction: column;
    justify-content: space-between;
    
}*/

