.information-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-posts-information{
   display: flex;
   flex-direction: row;
   background-color: #fff;
   width: 70%; 
   height: 70%;
}

.image-modal-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.image-modal-rightTop {
   border-bottom: 2px solid #f2f2f2;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
.image-modal-left {
    width: 50%;
    padding: 10px;
}

.gridList{
    width: 100px;
    height: 400px;
}

.root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

